{% extends 'admin-layout.html' %}

{% block app_content %}
<div class="card text-center">
<div style="height: 100%;">
    <div id="registration-banner" class="parallax-container valign-wrapper">
        <div class="section">
            <h3 class="header-center text-darken-2">Create/Edit Event</h3>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-floating mb-3 required">
            {{ form.name(class="form-control") }} 
            {{ form.name.label }}
        </div>
        <div class="form-floating mb-3">
            {{ form.description(class="form-control") }}
            {{form.description.label}}
        </div>
        <div class="form-floating mb-3 required">
            {{ form.location(class="form-control")}}
            {{form.location.label}}
        </div>
        <div class="row">
            <div class="col">
        <div class="form mb-3 required">
            {{form.start_time(class="form-control")}}
            {{form.start_time.label}}
        </div>
            </div>
            <div class="col">
        <div class="form mb-3 required">
            {{form.end_time(class="form-control")}}
            {{form.end_time.label}}
        </div>
            </div>
        </div>
        <div class="form-floating mb-3 required">
            {{form.category(class="form-control")}}
            {{form.category.label}}
        </div>
            {{form.submit}}
    </form>
</div>
</div>
{% endblock %}
