{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column">
<div class="column mt-5">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.home')
                                                       }}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="{{url_for('admin.users')}}">Users</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="{{url_for('admin.mail')}}">Bulk Mailer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{
                                       url_for('admin.list_events')
                                       }}">Events</a></li>
    </ul>
</div>
{% block admin_content %}
<div class="column text-dark section">
    I'm still being worked on!
</div>
{% endblock admin_content %}
</div>
{% endblock %}
