{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block app_content %}
<div class="card text-center">
    <div class="card-body">
        <h1 class="h2 mb-3 fw-normal">Hi {{current_user.first_name}}!</h1> 
        {% if current_user.waitlisted %}
        <h4 class="h3 mb-3 fw-normal">You're currently waitlisted. If space
            opens up, we'll let you know!</h4>
        {% else %}
        <h4>You are fully registered! We look forward to seeing you!</h4>
        {% endif %}

        <p class="card-text">Let us know if you have any questions by sending
        them to <a href="mailto:hack@wpi.edu">hack@wpi.edu</a></p>

        <div class="row center justify-content-center">
            <form method="post">
                {{ form.csrf_token() }}
                <p><b>Optional Info</b></p>
                <div class="form-floating mb-3 required">
                    {{ form.shirt_size(class="form-control", selected=current_user.shirt_size) }}
                    {{ form.shirt_size.label() }}
                </div>
                <div class="form-floating mb-3 required">
                    {{ form.accomodations(class="form-control") }}
                    {{ form.accomodations.label() }}
                </div>
                {{ render_field(form.submit) }}

            </form>
        </div>
        <hr/>
        <div class="row center justify-content-center">
            <form method="post" action="{{url_for('dashboard.resume')}}"
                  enctype="multipart/form-data">
                {{ resform.csrf_token() }}
                <p><b>If you'd like, add your resume to send to
                    sponsors...</b></p>
                <div class="form mb-3 required">
                    {{ resform.resume(class="form-control") }}
                </div>
                {{ render_field(resform.submit) }}
            </form>
        </div>

    </div>
</div>
{% endblock %}
