<!--  A hack to make sure  the footer bar  shows-->
<div style="height: 100px"></div>
<nav class="navbar navbar-inverse footer-nav" style= "margin-top: 30px">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="mailto:hack@wpi.edu?subject=[Hackathon]">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    {{ bootstrap.load_js() }}
    </body>
</html>
