{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block app_content %}
<div class="card text-center">
    <div class="card-body">
        <img class="mb-4" src="{{ url_for('static', filename='img/banner.png')
                               }}" alt="GoatHacks 2024 Banner">
        <h1 class="h3 mb-3 fw-normal">Welcome back to GoatHacks!</h1>
        <p class="card-text">If you've already registered, please use this page
        to access your participant dashboard. Otherwise, please use the <a
                                                                                href="{{
                                                                                      url_for('registration.register')
                                                                                      }}"
                                                                                >
            registration</a> page to register!</p>

        <div class="text-center">
            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <div class="form-floating mb-3 required">
                    {{ form.email(class="form-control") }}
                    {{ form.email.label() }}
                </div>
                <div class="form-floating mb-3 required">
                    {{ form.password(class="form-control") }}
                    {{ form.password.label() }}
                </div>
                {{ render_field(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
