{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div style="height: 100%;">
    <div id="registration-banner" class="parallax-container valign-wrapper">
        <div class="section mt-3">
            <h3 class="header-center text-darken-2">Login</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        {{ render_form(form) }}
        <span><p><em>Don't have an account? <a
                                                    href="{{url_for('registration.register')}}">Register
                                                    here</a>.</em></p></span>

    <span><p><em>Forgot your password? Head over <a
                                                         href="{{url_for('registration.reset')}}">here</a>
            to reset it.</em></p></span>
    </div>
</div>
{% endblock %}
