{% extends 'base.html' %}

{% block content %}
<div style="height: 100%;">
    <div id="registration-banner" class="parallax-container valign-wrapper">
        <div class="section">
            <h3 class="header-center text-darken-2">Reset Password</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="section" style="background-color: #974355; padding: 20px;">
        <form method="post">
            {{ form.csrf_token }}
            <div>
                {{form.password}}<br/>{{form.password.label}}
            </div>
            <div>
                {{form.password_confirm}}<br/>{{form.password_confirm.label}}
            </div>
            <div>
                {{form.submit}}
            </div>
        </form>
    </div>
</div>
{% endblock %}
