{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block app_content %}
<div class="card text-center">
    <div class="card-body">
        <img class="mb-4" src="{{ url_for('static', filename='img/banner.png')
                               }}" alt="GoatHacks Banner">
        <h1 class="h3 mb-3 fw-normal">Welcome to GoatHacks!</h1>
        <p class="card-text">Please use this page to register for this year's
        Hackathon. Accounts from prior years are not carried over!</p>

        <div class="text-center">
            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <div class="form-floating mb-3 required">
                    {{ form.email(class="form-control") }}
                    {{ form.email.label() }}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3 required">
                            {{ form.password(class="form-control") }}
                            {{ form.password.label() }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 required">
                            {{ form.password_confirm(class="form-control") }}
                            {{ form.password_confirm.label() }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3 required">
                            {{ form.first_name(class="form-control") }}
                            {{ form.first_name.label() }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 required">
                            {{ form.last_name(class="form-control") }}
                            {{ form.last_name.label() }}
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3 required">
                      {{ form.school(class="form-control") }}
                      {{ form.school.label() }}
                    </div>
                  </div>
                  <div class="col">
                      <div class="form-floating mb-3 required">
                          {{ form.country(class="form-control") }}
                          {{ form.country.label() }}
                      </div>
                  </div>
                </div>
               
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3 required">
                    {{ form.phone_number(class="form-control") }}
                            {{ form.phone_number.label() }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 required">
                            {{ form.age(class="form-control") }}
                            {{ form.age.label() }}
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3 required">
                    {{ form.gender(class="form-control") }}
                    {{ form.gender.label() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.dietary_restrictions(class="form-control") }}
                    {{ form.dietary_restrictions.label() }}
                </div>
                <div class="form-check mb-3 required">
                    {{ form.agree_coc }}
                    I confirm that I have read and agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a>
                </div>
                <div class="form-check mb-3 required">
                    {{ form.logistics }}
I authorize you to share my application/registration with Major League Hacking
for event administration, ranking, and MLH administration in-line with the MLH
privacy policy. I further agree to the terms of both the <a
                                                                href="https://github.com/MLH/mlh-policies/blob/main/contest-terms.md">MLH
                                                                Contest Terms
                                                                and
                                                                Conditions</a>
                                                            and the <a
                                                                            href="https://github.com/MLH/mlh-policies/blob/main/privacy-policy.md">MLH
                                                                            Privacy
                                                                            Policy</a>.
                </div>
                <div class="form-check mb-3">
                    {{ form.newsletter }}
                    Subscribe to the MLH newsletter?
                </div>
                {{ render_field(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
