{% include 'header.html' %}
<div>
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center red-text text-darken-2">Learn. Hack. Compete.</h2>
        <div class="row center">
          <h5 class="header col s12 light">An open for all WPI Hackathon, for both hardware and software!</h5>
        </div>
        <div class="row center">
          <h5 class="header col s6 m5 light" style="margin-top:0; float: left; display: block">
            <i class="small material-icons">today</i> Jan. 12 - 14th
          </h5>
          <h5 class="header col s6 m5 light" style="margin-top:0; float: right; display: block">
            <i class="small material-icons">room</i> WPI Odeum
          </h5>
          <a class="col s12 m2 btn-large waves-effect waves-light red darken-1"
            style= "float: left; display: inline-block; text-decoration: none;"
            href= "/register">Register Here!</a>
        </div>

        <div class="row center" style="margin:0">
          <a id="cocbutton" class="sub-button col s6 push-s3  m2 push-m5 btn waves-effect waves-light grey darken-1"
            href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" data-mode="1" target="_blank">Code</a>
        </div>
        <div class="row center">
          <div class="col s12 m6">
            <a class="sub-button col s6 push-s3 m4 push-m4 btn waves-effect waves-light grey darken-1"
             href="https://join.slack.com/t/hackwpi2018/shared_invite/enQtMjkzNzA4NzIyMTAxLWZlNDVjZDdmY2IxNTI0ZWU4YTQzYmU5NTNlZjY2NjFiZDkxOWRkZTgwYzkzMTIyZDUyNDZiMjg3MmU2ZWE2ZTk" data-mode="1" target="_blank">Slack</a>
          </div>
          <div class="col s12 m6">
            <a class="sub-button col s6 push-s3 m4 push-m4 btn waves-effect waves-light grey darken-1"
             href="https://docs.google.com/spreadsheets/d/1Hkuf6kMPEC-fqasOpS85AtOasJRn74ilPMnCgBwGgV0/edit?usp=sharing" data-mode="1" target="_blank">Schedule</a>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="parallax"><img src="../static/img/background1.jpg" alt="background image"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icpathon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Learn</h5>
            <p class="light">Participate in the workshops taught by experienced students and learn everything you need to take your project from idea to reality. Ask currently employed Mentors for help when needed.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Hack</h5>
            <p class="light">Work all weekend long to build and hack your project together. We provide food, snacks, drinks, and entertainment; everything you need to stay focused and have fun for the whole event.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Compete</h5>
            <p class="light">Present your project at the end of the hackathon to our panel of judges, and win various prizes! Grand prizes are available for the top three teams, the best overall, the best software, and the best hardware project. Additionally, smaller prizes will also be available for various categories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <img src="../static/img/cosponsors.png" alt="cosponsors" style='height: 100%; width: 100%; object-fit: contain'/>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../static/img/background2.png" alt="background image">
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center" style="margin-top: -40px; margin-bottom: -50px;">
          <div class="icon-block">
            <h1 class="center brown-text"><strong>&#11014;</strong></h1>
            <h5 class="center">Organizing Club</h5>
            <p class="light">Hack @ WPI is run by the local ACM chapter. The event would not be possible without their support!</p>
            <div class="divider"></div>
            <h5 class="center">Sponsoring Companies</h5>
            <p class="light">Hack @ WPI is proud to announce that the companies below are all part of making the event a reality.</p>
            <div class="row">
              <a class="col s12 btn waves-effect waves-light red darken-2"
                style= "float: left; display: inline-block; text-decoration: none;"
                href= "../static/assets/HackWPI2018SponsorshipPackage.pdf">Sponsorship Package</a>
            </div>
            <h1 class="center brown-text"><strong>&#11015;</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <img src="../static/img/sponsors.png" alt="sponsors" class="responsive-img">
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../static/img/background3.png" alt="background" >
    </div>
  </div>

  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <h5 class="white-text">Interested in Sponsoring or Co-Sponsoring?</h5>
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">For any inquiries regarding sponsoring the event as a company or co-sponsoring the event as an on campus club, please email <a class="white-text" href="mailto:hack@wpi.edu?subject=[Hackathon]" target="_top"><u>hack@wpi.edu</u></a>, and we will happily discuss it with you!</p>
        </div>
      </div>
      <div class="row">
        <h4 class="white-text">FAQ</h4>
        <div class="col l6 s6">
        <h5 class="white-text">When does registration close?</h5>
          <p class="grey-text text-lighten-4">Registration officially closes on Monday, January 10th, 11:59pm.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">Will there be travel reimbursements?</h5>
          <p class="grey-text text-lighten-4">We are attempting to partner with some nearby schools to run a bus from their's to ours, but may not have the budget. If you're interested in providing a bus to our hackathon, let us know. At the moment we cannot provide travel reimbursments.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">How do I know I'm registered?</h5>
          <p class="grey-text text-lighten-4">You should be automatically notified whether or not you're registered. If you're on the waitlist and a spot opens, you will get an email saying you got in.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">I am officially registered but now I want to unregister, how do I do that?</h5>
          <p class="grey-text text-lighten-4">Go to hack.wpi.edu/dashboard. There is a link on the bottom to drop your registration.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        For issues, please contact <a class="white-text" href="mailto:acm@wpi.edu?subject=[Site]" target="_top"><u>acm@wpi.edu</u></a>
      </div>
    </div>
  </footer>
</div>
{% include 'footer.html' %}
