{% include 'header.html' %}
      
<div>
        <!--Logo + Date+ Hosted By -->
        <div class="container">
            <div class="row center">
                <img src="../static/img/hacklogo.png" alt="logo" style='height: 100%; width: 100%; object-fit: contain'/>
            </div>
        </div>

        <!--"Hackathon for all students" -->
        <hr/>
        <h2> A HACKATHON FOR ALL COLLEGE STUDENTS </h2>
        <hr/>

        <!--Location -->
        <h3> WPI Campus Center </h3>
        <h4>100 Institute Road</h4>
        <h4> Worcester, MA 01609</h4>
        <hr/>
        
        

        <!-- Sponsors for 2020 -->
        <h2> OUR SPONSORS FOR 2020 </h2>

        <div class="container">
                <div class="row center sponsors">
                    <div class="title-sponsors">
                            <img class="logo" src="../static/img/logos/bose.png"></div>
                    <div class="platinum-sponsors">
					    <h1>WPI Computer Science Department</h1> 
                    </div>

                    <div class="gold-sponsors">
                            <img class="logo" src="../static/img/logos/iboss.png" style = "height: 140px"> 
                            <img class="logo" src="../static/img/logos/kronos.png" style = "height: 65px"> 
                            <img class="logo" src="../static/img/logos/paytronix.png" style = "height: 30px">
                            <img class="logo" src="../static/img/logos/abbvie.png" style = "height: 65px">    
                        </div>

                    <div class="silver-sponsors">
                        <img class="logo" src="../static/img/logos/carbonblack.png" >     
                    </div>

                    <div class="bronze-sponsors">
                            <img class="logo" src="../static/img/logos/wakefly.png" style = "height: 70px">    
                            <img class="logo" src="../static/img/logos/amazon.png" style = "height: 70px">   
                            <img class="logo" src="../static/img/logos/everquote.png" style = "height: 35px"> 
                            <img class="logo" src="../static/img/logos/synopses.png" style = "height: 20px">
                            <img class="logo" src="../static/img/logos/boozallenhamilton.png" style = "height: 35px">
                       </div>

                </div>
        </div>

        <!--FAQs -->
        <hr/>
        <h2> FAQs </h2>

        <div class = "FAQ">
            <h4>Who can attend?</h4>
            <h6> Our event is open to any college student! You don’t need any experience to participate. However, due to legal issues, anyone under 18 must have a legal guardian present and cannot win prizes </h6>
        </div>

        <div class = "FAQ">
            <h4>What is the max team size?</h4>
            <h6>The maximum is 5 people per team. Minimum is 1 :P</h6>
        </div>

        <div class = "FAQ">
            <h4>What are the awards for?</h4>
            <h6>The categories this year are: </h6>
            <h6>Best Overall Project 
            <h6>Best Game </h6>
            <h6>Best Software </h6>
            <h6>Best Hardware </h6>
            <h6>Company Favorite </h6>
            <h6>Best Use of the Bose API/SDK </h6>
            <h6>Best Meme </h6>
            <h6>Best Rookie </h6>
        </div>

        <div class = "FAQ">
            <h4>What should I bring?</h4>
            <h6>Bring devices, chargers, sleeping bags, toiletries, basically anything you need to be comfortable. We will provide showers at certain time slots during the weekend. Food will also be provided.</h6>
        </div>

        <div class = "FAQ">
            <h4>What if I don't have a team?</h4>
            <h6>You don’t need a team to register! We will have a team formation session right after the opening ceremony for those who would like to work with a team. If you prefer to stay solo, that’s also great. </h6>
        </div>

        <div class = "FAQ">
            <h4>How should I prepare beforehand?</h4>
            <h6>Make sure you have travel plans in place, especially in case of random snowfalls. Unfortunately, we do not provide travel reimbursements. 
                    It’s also nice to have an idea in mind beforehand. However, we ask that you do not bring any pre-made materials to keep the competition fair. </h6>
        </div>

        <div class = "FAQ">
            <h4>What is the schedule?</h4>
            <h6><a href = 'https://docs.google.com/spreadsheets/d/1FSh2UfZwoMwXlgrKnKjnQg2okEcLDVCP30khnPdM1H0/edit?usp=sharing' style= "color: blue">Here it is!</a> Keep in mind that this is tentative. </h6>
        </div>
        

</div>


</div>
</body>
{% include 'footer.html' %}
