.navbar-dark, .modal-header, .table-header {
  background-color: #974355;
  color: #FFFFFF;
}

.modal-header, .table-header {
  color: #FFFFFF;
}

.container {
  min-height: 100vh;
  position: relative;
}

body {
  min-height: 100vh;
  background-color: #003049;
}
