$color-nav-bg: #974355;
$color-bg: #000000;

.navbar-dark, .modal-header, .table-header {
    background-color: $color-nav-bg;
    color: #FFFFFF;
}

.modal-header, .table-header {
    color: #FFFFFF;
}

.container {
    min-height: 100vh;
    position: relative;
}

body {
    min-height: 100vh;
    background-color: $color-bg;
}
